
#header{
  width:100%;
  position:fixed;
  background-color: black;
  padding:0px;
  height: 160px;
  text-align:center;
  margin: 0px 0px 0px 0px;
}

#header img, nav {
    display:inline-block;
    vertical-align:middle;
 }
 #header img {
  float: left;
  
    margin-left: 10px;
    margin-top: 10px;
 }
#header nav{
    
   padding:0px;
    display:inline;
    text-align: center;
 }
 .bacc{
     margin-top: 1px;
     margin-right: 45px;
    
    padding: 60px;
}

li{
    
    display:inline;
        
       
        margin-right:20px;
    
        color: #46d678;
       
        
}

li a:hover{
    color:yellow;
    text-decoration:none;
    font-size:30px;
}

li a{
  
    color:#46d678;
    text-decoration:none;
    font-size:20px;
}

.pagehed {
  margin-top: 170px;
    text-align: center;   
    position: relative;
    padding: 40px 0px;
        background-color: #252831;
        color:#cacb63;
        
        font-size: 20px;

}


.pagehed a:hover{

    color:black;
    background-color: yellow;
    padding:10px;
    text-decoration: none;
    margin-right: 6px;
}
.pagehed a{

        color:yellow;
        
        padding:5px;
        text-decoration: none;
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin-right: 5px;
}
        
.divisec{
    color:yellow;
        background-color:black;
        padding:5px;
        width:40%;
        height:65%;
}
.divisec a:hover{
   padding:5px;
   width:25%;
}

.articles{
    color:white;
    padding:25px;
    background-color:green;
    border:2px;
    width:30%;
    height:10%;
    float:right;
    margin-bottom: 2px;
    margin-left: 0px;
}

.articles img{
    width:30%;
    height:80%;
}




#footer{
    padding:5px;
    border:1px solid black;
    border-style: solid;
    width:100%;
    height:600px;
    margin-top:40px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: #45a049;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}


.contact{        
         background-color: green; 
        background-image: linear-gradient(rgba(50, 109, 156, 0.74), green);
        border:2px solid black;
        height:40%;
        width:50%;
        margin-top:390px;
        margin-bottom: 3px; 
        padding: 100px;
}
        

.dropbtn {
          background-color: #acabae;
          color: white;
          padding: 16px;
          font-size: 16px;
          border: none;
}
        
.dropdown {
          position: relative;
          display: inline-block;
 }
        
.dropdown-content {
          display: none;
          position: absolute;
          background-color: #f1f1f1;
          min-width: 100px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
 }
        
.dropdown-content a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
}
        
.dropdown-content a:hover {background-color: #ddd;}
        
.dropdown:hover .dropdown-content {display: block;}
        
.dropdown:hover .dropbtn {background-color: #0015a5;}




.fab {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    height:50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50px;
}
.fab:hover {
    opacity: 0.7;}
    .fa-facebook {
        background: #3B5998;
        color: white;
 }
      
.fab-twitter {
        background: #55ACEE;
        color: white;
}
      
.fab-google {
        background: #dd4b39;
        color: white;
}
      
.fab-linkedin {
        background: #007bb5;
        color: white;
}
      
.fab-youtube {
        background: #bb0000;
        color: white;
}

        